<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_po_success_action">
        <observer name="magentoese_run_Order_cron" instance="MagentoEse\B2bOrderApprovalProcess\Observer\Sales\RunAccorinCron" shared="false"/>
    </event>
</config>